{% extends 'tienda/base.html' %}

{% block contenido %}
<main class="container my-5">
    <div class="row justify-content-center">

        <!-- TITULO -->
        <div class="col-12 mb-3">
            <h2 class="display-4 text-center text-capitalize">Carrito</h2>
        </div>

        <div class="col-6 row border carrito-container">

            <!-- USUARIO -->
            <div class="col-12 p-0 mb-2">
                <h3 class="display-4 text-capitalize mt-2" style="font-size: 2em;">{{ usuario.username.capitalize }}</h3>
            </div>

            <!-- PRODUCTOS -->
            {% for item in items_carrito %}
            <div class="col-12 p-0 m-0">
                <div class="d-flex justify-content-start align-items-center">
                    <div class="product-image">
                        {% if item.producto.imagen %}
                        <img src="{{ item.producto.imagen.url }}" alt="{{ item.producto.titulo }}">
                        {% else %}
                        <div class="no-image-placeholder"></div>
                        {% endif %}
                    </div>
                    <div class="product-details ml-3">
                        <p class="product-title">{{ forloop.counter }}. {{ item.producto.titulo.title }}</p>
                        <p class="product-price">${{ item.producto.precio }}</p>
                    </div>
                    <a href="{% url 'item_carrito_delete' item.id %}"><i class="far fa-trash-alt" style="color: #050000;"></i></a>
                </div>
            </div>
            {% empty %}
            <div class="col-12 p-0 m-0">
                <p class="d-flex justify-content-between align-items-center">
                    No tienes ningún producto en el carrito
                </p>
            </div>
            {% endfor %}

            <!-- BOTONES -->
            <div class="col-12 p-0 m-0 my-3 row">
                <div class="col-md-5 col-lg-3 p-0">
                    <a href="{% url 'carrito_clean' %}" class="btn btn-danger btn-block">Vaciar Carrito</a>
                </div>
                <div class="col-12 p-0 col-md-7 col-lg-4 mt-2 mt-md-0 pl-md-3">
                    <button class="btn btn-success btn-block">Finalizar Compra</button>
                </div>
            </div>
        </div>

    </div>
</main>
{% endblock %}
