{% extends 'tienda/base.html' %}

    {% load static %}
    
    {% block contenido %}
    {% load crispy_forms_tags %}
        <div class="container">
            <br>
            <br>
            <br>
            <div class="row">
                <div class="col-12 col-md-6 offset-md-3"> 
                    <div class="card">
                        <div class="card-body">
                            <h2 class="titulo-iniciarsesion" style="color: black;">Ingresa tu Credencial</h2>
                            <hr>
                            <form action="" method="post">
                                {% csrf_token %}
                                {{ form|crispy }}
    
                                <br>  
                                <a class="irhome"  href="{% url 'home' %}" style="color: rgba(var(--bs-link-color-rgb),var(--bs-link-opacity,1));">Ir Al home</a>  |
                                <a class="registrate"  href="{% url 'registro' %}" style="color: rgba(var(--bs-link-color-rgb),var(--bs-link-opacity,1));">Registrate</a>
                                <input type="submit" value="Ingresar" class="btn btn-success float-end">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}