* {
    margin: 0;
    padding: 0;
}

body {
    background: #aa4b6b;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Open Sans', sans-serif;
}

h1{
    font-family: 'Balsamiq Sans', cursive;
}
h2{
    font-family: 'Balsamiq Sans', cursive;
    color: white;
}

label.error {
    color: darkred;
}


header {
    width: 100%;
    height: 80px;
    background: #333333;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #dd1818, #333333);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #dd1818, #333333);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /*margin-left: 30px;
    padding-left: 30px;*/
    /*right-top-bottom*/
    display: flex;
    justify-content: space-between;
}

header>div {
    width: 50%;
}

.contenedor_logo {
    display: flex;
    align-items: center;
}

.logo {
    width: 75px;
    max-width: 40%;
    max-width: 40%;
    margin-left: 20px;
}

nav {
    display: flex;
    justify-content: flex-end;
    /*flex-start - center - flex-end*/
    /*horizontal*/
    align-items: center;
    height: 100%;
}

nav>ul {
    margin-right: 50px;
}

nav>ul>li {
    display: inline;
    margin-left: 10px;
}


nav a {
    color: white;
    text-decoration: none;
}

.galeria {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
}

.galeria img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}


/*CONTENIDO PRINCIPAL*/

#contenido {
    width: 80%;
    margin: auto;
    max-width: 1280px;
    min-height: 100vh;
}

.productos {
    display: flex;
    flex-wrap: wrap;
}

.producto {
    width: 25%;
    margin-top: 20px;
}

.producto img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.producto .detalle {
    padding: 5px;
}

.producto .contenedor_producto {
    background-color: white;
    width: 80%;
    margin: auto;
}

.producto h2 {
    color: black;
    font-size: medium;
}

.menu {
    width: 40px;
    position: absolute;
    left: 10px;
    top: 10px;
    display: none;
}

.card-body {
    background-color: gainsboro;
    flex: 1 1 auto;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    color: var(--bs-card-color);
}

/*FOOTER*/

footer {
    color: white;
    margin-top: 20px;
    background-color: var(--strong);
}

.box-creditos {
    background-color: #2B6CB0;
    min-width: 320px;
    margin: .3em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.box-f {
    min-width: 320px;
    margin: .3em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.box-f {
    width: 32%;
    text-align: center;
}

.box-f p {
    width: 100%;
    padding: .2em;
}

.box-f h3 {
    padding: .4em;
}

.box-logo-201{
    margin-top: 8%;
    height: 150px;
}

.box-logo-201 img {
    max-width: 100%;
    max-height: 100%;
}

.web {
    width: 100%;
    padding: 0.5em;
    text-align: center;
}

a:link, a:visited, a:active{
    text-decoration: none;
}

a{
    color: white;
}



/*FIN FOOTER*/


input[type=text],
input[type=email],
input[type=number],
select,
textarea {

    width: 100%;
    padding: 5px;

}

textarea {
    resize: none;
}

.button {
    padding: 5px 10px;
    color: white;
    background-color: #2B6CB0;
    border: none;
    border-radius: 5px;
}

.formulario_contacto {
    width: 500px;
    margin-top: 50px;
}

/*MEDIA QUERIES*/


/*Tablets*/
@media (max-width: 1024px) {
    .galeria {
        grid-template-columns: 1fr 1fr;
    }

    .producto {
        width: 50%;
    }

    .formulario_contacto {
        width: 100%;
    }
}

/*Smartphone*/
@media (max-width: 480px) {

    .galeria {
        grid-template-columns: 1fr;
    }

    .menu {
        display: block;
    }

    @keyframes animacion_producto_mobile {
        0% {
            transform: scale(0.1);
            /*0-1*/
            /*opacity: 0 - 1*/
        }

        80% {
            transform: scale(1.1);
        }

        100% {
            transform: scale(1);
        }
    }

    .producto {
        width: 100%;
        animation: animacion_producto_mobile 0.8s;
    }

    header {
        flex-direction: column;
        height: 60px;
        overflow: hidden;
        transition: all 0.6s;


    }

    #contenido {
        margin-top: 60px;
    }

    header>div {
        width: 100%;
    }

    .contenedor_logo {
        justify-content: center;
        margin-top: 10px;
    }

    nav {
        justify-content: center;
    }

    nav>ul {
        margin: 0;
    }

    nav>ul>li {
        display: block;
        margin: 0;
        text-align: center;
        padding: 20px 0;
    }

}