{% extends 'tienda/base.html' %}

{% block contenido %}

{% load humanize %}
<main>
    <div class="containerdetalleproducto">
      <div class="row detallesproducto">
        <div class="col-md-6 order-md-1 imagendeta">
          {% if p.imagen %}
          <img src="{{ p.imagen.url }}" alt="Esto es una imagen Del Producto">
          {% endif %}
        </div>
        <div class="col-md-6 order-md-2 detallesgeneral">
          <br>
          <h3 class="Nombre-Producto">{{ p.nombre | title }}</h3>
          <p class="Precio-Producto">${{ p.precio | intcomma }}</p>
          <p class="Descripcion-Producto">{{ p.descripcion }}</p>
  
          <form action="{% url 'carrito_save' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="producto_id" value="{{ p.id }}">
            <div class="d-grid gap-3 col-10 mx-auto">
              {% if user.is_superuser or user.is_authenticated %}
              <button class="btn btn-outline-primary" type="submit">Agregar Al Carrito</button>
              {% else %}
              <button class="btn btn-outline-primary" type="submit" disabled>Agregar Al Carrito</button>
              {% endif %}
              <button class="btn btn-primary" type="submit">Comprar Ahora</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>
  
{% endblock %}