{% extends 'tienda/base.html' %}

{% load static %}

{% block contenido %}
<br>
<h1>Términos y Condiciones de Uso</h1>
<hr>

<h2>1. Propiedad Intelectual</h2>
<p>
  Todo el contenido presente en este sitio web, incluyendo textos, imágenes, gráficos, logotipos, diseños y software,
  está protegido por derechos de propiedad intelectual y pertenece a HipHop Fusion Art o a terceros proveedores. Está
  prohibida la reproducción, distribución, modificación o cualquier otro uso no autorizado de dicho contenido sin previo
  consentimiento por escrito.
</p>

<h2>2. Uso del Sitio Web</h2>
<p>
  El uso de nuestro sitio web se rige por las siguientes condiciones:
</p>
<ul>
  <li>Aceptas utilizar nuestro sitio web de manera legal y ética, respetando los derechos de propiedad intelectual y no
    realizando actividades que puedan causar daño o perjuicio a HipHop Fusion Art o a otros usuarios.</li>
  <li>No podrás utilizar nuestro sitio web para difundir contenido ofensivo, ilegal o que infrinja los derechos de
    terceros.</li>
  <li>Nos reservamos el derecho de bloquear o restringir el acceso a nuestro sitio web si consideramos que se ha
    incumplido alguna de estas condiciones de uso.</li>
</ul>

<h2>3. Política de Privacidad</h2>
<p>
  El tratamiento de tus datos personales se regirá por nuestra <a href="politica-privacidad.html">Política de
    Privacidad</a>, la cual encontrarás disponible en un enlace aparte en nuestro sitio web. Te recomendamos leerla
  detenidamente antes de proporcionar cualquier información personal.
</p>

<h2>4. Enlaces a Sitios de Terceros</h2>
<p>
  Nuestro sitio web puede contener enlaces a sitios web de terceros. Estos enlaces se proporcionan únicamente como una
  conveniencia para el usuario. No tenemos control sobre el contenido o las políticas de privacidad de estos sitios, por
  lo tanto, no nos hacemos responsables por ellos.
</p>

<h2>5. Exclusión de Responsabilidad</h2>
<p>
  Hemos tomado todas las precauciones necesarias para asegurar que la información y el contenido de nuestro sitio web
  sean precisos y actualizados. Sin embargo, no garantizamos la exactitud, integridad o disponibilidad continua de dicho
  contenido. Utilizas nuestro sitio web bajo tu propio riesgo y eres responsable de tomar las precauciones necesarias
  para proteger tu sistema y datos.
</p>

<h2>6. Modificaciones de los Términos y Condiciones</h2>
<p>
  Nos reservamos el derecho de modificar estos términos y condiciones en cualquier momento y sin previo aviso. Te
  recomendamos revisar esta página regularmente para estar al tanto de los cambios.
</p>

<p>
  Al utilizar nuestro sitio web, aceptas estos términos y condiciones en su totalidad. Si no estás de acuerdo con alguno
  de ellos, te recomendamos no utilizar nuestro sitio. Si tienes alguna pregunta o inquietud, no dudes en contactarnos a
  través de los canales proporcionados en nuestro sitio web.
</p>

{% endblock %}